:root {
    --background: #111;
    --background-hover: #222;
    --foreground: white;
    --neutral: #666;
    --active: #0f6;
    --active-dark: #002000;
    --icon-filter: brightness(1);
}

* {
    font-family: monospace;
}

body {
    margin: 0;
    background: black;
    color: var(--foreground);
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
}

canvas, main {
    width: 100% !important;
    height: 100% !important;
}

#p5_loading {
    top: 30px;
    padding: 5px 10px;
}

.trackInfo {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.sliderContainer {
    display: flex;
}

.trackInfoContainer {
    position: relative;
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease;
}

.trackInfoContainer:hover {
    opacity: 1;
}

.trackInfo * {
    text-align: center;
}

.horizontalFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.horizontalFlex * {
    width: max-content;
}

.volume, .time {
    padding: 10px 10px 3px 10px;
    background: var(--background);
    border-radius: 5px;
    border: 1px solid var(--foreground);
}

.trackTime {
    position: relative;
}

input[type="range"] {
    background: none;
    border: none;
    margin: auto;
}

input[type="range"]::-webkit-slider-thumb, input[type="range"]::-moz-range-thumb {
    box-shadow: none;
    border: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: var(--foreground);
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track, input[type=range]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: var(--foreground);
    border-radius: 4px;
    border: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: none;
}

.trackTitle {
    font-size: 20px;
}

.flex, .flex-v {
    display: flex;
    gap: 5px;
}

.flex-v {
    flex-direction: column;
}

.trackControls {
    border: 1px solid var(--foreground);
    overflow: auto;
    padding: 10px;
    background: var(--background);
}

.trackControl {
    padding: 4px;
    border-radius: 0;
    border: none;
    cursor: pointer;
}

.control {
    height: 26px;
    width: 30px;
    background: var(--background);
    display: flex;
    padding: 5px;
    border: 1px solid var(--foreground);
    cursor: pointer;
}

.control * {
    cursor: pointer;
}

.icon {
    height: 100%;
    width: auto;
    margin: auto;
    filter: var(--icon-filter);
}

.tracklist {
    flex-direction: column;
}

.trackListContent, .settings {
    max-height: calc(100% - 20px);
    width: max-content;
    font-family: 'Courier New', monospace;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--foreground);
    overflow: auto;
    padding: 1px;
    background: var(--background-hover);
}

.settings {
    display: none;
    height: max-content;
    padding: 1px;
}

.overlay {
    position: absolute;
    width: max-content;
    display: flex;
    height: 100%;
}

.toggles {
    display: flex;
    flex-wrap: wrap;
    opacity: 0;
    flex-direction: column;
}

.toggles:hover, .toggles[tracklist-active="true"], .toggles[settingslist-active="true"] {
    opacity: 1;
}

[tracklist-active="true"] .toggle.trackList {
    background: var(--foreground);
    color: var(--background);
}

[settingslist-active="true"] .toggle.settingsList {
    background: var(--foreground);
    color: var(--background);
}

.toggle {
    padding: 10px 5px;
    border: 1px solid var(--foreground);
    cursor: pointer;
    transition: opacity .2s ease;
    width: 20px;
    height: 120px;
    background: var(--background);
}

.toggleText {
    display: block;
    transform: rotate(90deg);
    white-space: nowrap;
}

.trackListTrack {
    padding: 5px 10px;
    background: var(--background);
    cursor: pointer;
    border: 1px solid transparent;
    display: flex;
    gap: 10px;
    position: relative;
}

.trackListTrack.active {
    border-color: var(--active);
    color: var(--active);
    background: var(--active-dark);
}

.trackListTrack:hover {
    background: var(--background-hover);
}

.playingIndicator, .playingLoader {
    color: var(--background);
    display: none;
    background: var(--foreground);
    padding: 0 5px;
    font-weight: 900;
    border-radius: 23px;
    z-index: 2;
    position: absolute;
    right: 10px;
}

.playingIndicator.active, .playingLoader.active {
    display: initial;
}

.playingLoader {
    animation: loader 1s linear infinite;
    background: none;
    border: 2px solid var(--foreground);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border-bottom: none;
    border-right: none;
    padding: 0;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

progress::-moz-progress-bar, progress::-webkit-progress-value {
    background: var(--foreground);
}
progress {
    position: absolute;
    width: 30%;
    height: 10px;
    margin: calc(50vh + 20px) auto auto calc(50vw - 15vw);
    appearance: none;
    background: transparent;
    border: 1px solid var(--foreground);
    border-radius: 5px;
    opacity: 0;
}

/* The container */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: -2px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: transparent;
    border: 1px solid var(--neutral);
    border-radius: 50%;
}

.settingBool:hover .checkmark {
    background: var(--background-hover);
}

.checkmark-icon {
    top: -4px;
    position: absolute;
    left: 2px;
    font-size: 18px;
    display: none;
}

.checkmark-text {
    font-size: 16px;
}

.checkbox-container input:checked ~ .checkmark .checkmark-icon {
    display: initial;
}

.settingBool {
    padding: 8px 16px 8px 8px;
    background: var(--neutral);
    cursor: pointer;
    background: var(--background);
    border: 1px solid var(--foreground);
}

.settingBool * {
    cursor: pointer;
}

.settingBool:hover {
    background: var(--active-dark);
    border-color: var(--active);
}

.settingBool:hover .checkmark-text {
    color: var(--active);
}

.settingBool:hover .checkmark {
    border-color: var(--active);
}