:root {
    --background: #111;
    --background-hover: #222;
    --foreground: white;
    --active: #0f6;
}

* {
    font-family: Arial, serif;
}

body {
    margin: 0;
    background: black;
    color: var(--foreground);
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
}

canvas, main {
    width: 100% !important;
    height: 100% !important;
}

#p5_loading {
    top: 30px;
    padding: 5px 10px;
}

.trackInfo {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.trackInfoContainer {
    position: relative;
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease;
}

.trackInfoContainer:hover {
    opacity: 1;
}

.trackInfo * {
    text-align: center;
}

.trackTime {
    position: relative;
}

input[type="range"] {
    background: none;
    border: none;
}

input[type="range"]::-webkit-slider-thumb, input[type="range"]::-moz-range-thumb {
    box-shadow: none;
    border: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: var(--foreground);
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track, input[type=range]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: var(--foreground);
    border-radius: 4px;
    border: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: none;
}

.trackTitle {
    font-size: 40px;
    margin-top: 10px;
}

.trackListContent {
    position: absolute;
    top: 30px;
    left: 0;
    max-height: calc(100% - 4px);
    width: max-content;
    font-family: 'Courier New', monospace;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--foreground);
    overflow: auto;
    padding: 1px;
}

.trackListToggle, .darkModeToggle {
    position: absolute;
    padding: 5px 10px;
    background: var(--background-hover);
    border: 1px solid var(--foreground);
    cursor: pointer;
    opacity: 0;
    transition: opacity .2s ease;
}

.trackListToggle:hover, .darkModeToggle:hover {
    opacity: 1;
}

.darkModeToggle {
    margin-left: 69px;
}

.trackListTrack {
    padding: 5px 10px;
    background: var(--background);
    cursor: pointer;
    border: 1px solid transparent;
}

.trackListTrack.active {
    border-color: var(--active);
    color: var(--active);
}

.trackListTrack:hover {
    background: var(--background-hover);
}

progress::-moz-progress-bar, progress::-webkit-progress-value {
    background: var(--foreground);
}
progress {
    position: absolute;
    width: 30%;
    height: 10px;
    margin: calc(50vh + 20px) auto auto calc(50vw - 15vw);
    appearance: none;
    background: transparent;
    border: 1px solid var(--foreground);
    border-radius: 5px;
    opacity: 0;
}